.cont{
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    color: white;
    background-color: black;
}
.smallCont{
    display: flex;
    cursor: pointer;
}
.countData{
    background-color: red;
    border-radius: 50%;
    width: 1.5vmax;
    position: absolute;
    margin-left: -1%;
    margin-top: -0.5%;
}
.link{
    color: white;
}
.link:hover{
    color: #fff;
}